<div id="startForm">
    <h1>Start a game</h1>
    <h2>Enter all players' names and phone numbers</h2>

    <p class="warningText"></p>

    <button id="addPlayerBtn">Add a player</button>
    <form method="POST" action="/game" id="playersForm"></form>
</div>

<div id="gameInfo" class="invisible">
    <div class="listBlock", id="surviving">
        <h1>Surviving</h1>
    </div>
    <div class="listBlock", id="extinct">
        <h1>Extinct</h1>
    </div>
</div>

<div id="gameOver" class="invisible">
    <h1 id="winnerText">... win!</h1>
    <a href="/">Back to Home</a>
</div>

<script type="module" src="/game.js"></script>