<div id="startForm">
    <h1>Start a game</h1>
    <h2>Enter all players' names and phone numbers</h2>

    <p id="warningText"></p>

    <button id="addPlayerBtn">Add a player</button>
    <form method="POST" action="/game" id="playersForm"></form>
</div>
<script type="module" src="/game.js"></script>