<img src="/logo.png" alt="Invasive Impostor" class="logo">
<img src="/left.png" alt="grass" class="leftGrass">
<img src="/right.png" alt="grass" class="rightGrass">
<a href="/instructions">How to play</a>
<a href="/game">Start a game</a>
<p>Created by Storm and Charlotte Lin</p>