<h1>Start a game</h1>
<h3>Enter all players' names and phone numbers</h3>

<p id="warningText"></p>

<button id="addPlayerBtn">Add a player</button>
<form method="POST" action="/start" id="playersForm"></form>

<script type="module" src="/start.js"></script>