body {
    text-align: center;
    font-family: 'Genos', sans-serif;
    background-color: green;
    color: white;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

a, button, .submit {
    padding: 15px 25px;
    font-size: 2em;
    font-family: 'Genos', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: green;
    background-color: rgb(255, 247, 171);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0.5em;
}

p {
    font-size: 1.5em;
}

a {
    display: block;
    width: 10em;
    height: 2em;
    line-height: 2em;
    font-size: 3em;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
}
  
a:hover, button:hover, .submit:hover {
    background-color: rgb(238, 226, 117);
}
  
a:active, button:active, .submit:active {
    background-color: rgb(238, 226, 117);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.formInput {
    font-size: 2em;
    font-family: 'Genos', sans-serif;
    margin: 0.5em;
}

.formLabel {
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
}

.warningText {
    font-size: 3em;
    font-family: 'Genos', sans-serif;
    color: yellow;
    margin: 0;
}

.listBlock {
    display: inline-block;
    width: 30%;
    margin: 1em;
}

li {
    font-size: 3em;
}

.logo {
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 2em;
}

.leftGrass {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25%;
    height: auto;
}

.rightGrass {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 25%;
    height: auto;
}

.invisible {
    display: none;
}